<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="text-center py-24">
  <p class="text-base font-semibold text-indigo-600">oops</p>
  <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">No Word of the day</h1>
  <p class="mt-6 text-base leading-7 text-gray-600">An error occurred and word of the day is not available. </p>
  <div class="mx-auto max-w-sm">
    <%= image_tag 'error.svg', alt: 'Error image', class: '' %>
  </div>

</div>
