<div class="py-24 sm:py-32 mx-auto">
    <div class="mx-auto max-w-4xl sm:px-6 lg:px-8">

      <p>Past words of the day...</p>
      <ul>

        <% @words.each do |word| %>
          <li><%=word.word %></li>
        <% end %>
      </ul>


    </div>
</div>
